body {
    padding: 0 !important;
    margin: 0 !important;
    background-color: #f5f5f5;
    font-family: 'Open Sans', sans-serif;
    color: #384236;
}

.menu {
    height: 6rem;
    background-color: #465243;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.menu ul {
    text-decoration: none;
    height: calc(6rem - 40%);
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
}

.menu ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    width: 7rem;
    height: inherit;
    padding: 0rem 0.1rem;
}

.menu ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: inherit;
    width: inherit;
    color: black;
    font-weight: bold;
}

.menu ul li a:hover {
    color: #b0b0b0;
    background-color: #576754;
}

.ativa {
    font-style: italic;
    color: #b0b0b0 !important;
    border: 1px solid #b0b0b0;
}

.alerta {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 7rem;
	left: 50%;
	transform: translateX(-50%);
	height: 3.6rem;
	width: 30rem; 
	font-size: 20px;
	color: #ffffff;
}

.sucesso {
    background-color: #008000cc;
	border-radius: 10px;
	border: 1px solid #ffffff;
}

.erro {
    background-color: #c4342dcc;
	border-radius: 10px;
	border: 1px solid #ffffff;
}

.apagarMensagem {
    display: none;
}

.img-menu {
    height: 6rem;
    width: 6rem;
    background-color: #f0f1f0;
}

.conteudo {
    height: calc(100vh - 6rem);
    padding: 0rem 6rem;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #384236;
    /* background-color: khaki; */
}

.porta-cards-home {
    height: calc(100vh - 18rem);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: chocolate; */
}

.porta-cards-home a {
    text-decoration: none;
    color: inherit;

}

.rodape {
    height: 15rem;
    background-color: #384236;
    color: #b0b0b0;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    font-size: 16px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.rodape-conteudo {
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: row;
}

.rodape-conteudo-parte1 {
    width: 70%;
    height: inherit;
    /* background-color: khaki; */
    padding: 0rem 2rem;
}

.rodape-conteudo-parte1 p {
    text-align: justify;
}

.rodape-conteudo-parte1 a {
    color: inherit;
    text-decoration: none;
}

.rodape-conteudo-parte1 a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.rodape-conteudo-parte2 {
    width: 30%;
    height: inherit;
    /* background-color: lavender; */
    padding: 0rem 2rem;
}

.rodape-conteudo-parte2 ul li {
    padding: 0.2rem 0rem;
}

.rodape-conteudo-parte2 ul li a {
    text-decoration: none;
    color: inherit;
}

.rodape-conteudo-parte2 ul li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.rodape-copyright {
    display: inherit;
    align-items: center;
    justify-content: center;
    font-size: 16px;
	background-color: rgba(51, 51, 51, 0.13);
    color: #586556;
    height: 3rem;
}

.card-home {
    background-color: #5f775a;
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* font-size: 30px; */
    border-radius: 10px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.card-home p {
    font-size: 20px;
    padding: 0 1rem;
}

.card-home:hover {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.titulo-pagina {
    text-align: center;
    font-size: 40px;
    color: #4f4f4f;
}

/* Login */
.section-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 6rem );
}

.section-login h1 {
    font-weight: 300;
}

#form-login {
    background-color: #f6f8fa;
    padding: 1.5rem;
    border-radius: 6px;
    border: 1px solid #eaecef;
    width: 18rem;
}

.conteudo-login {
    display: flex;
    flex-direction: column;
}

.conteudo-login input {
    margin: 1rem 0;
    border: 1px solid #eaecef;
    padding: 0.75rem;
    border-radius: 6px;
}

.conteudo-login div {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#form-login button {
    width: 100%;
    padding: 0.6rem 0;
    border-radius: 6px;
    background-color: #2ea44f;
    border: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
    font-family: inherit;
}

.section-login p {
    width: 21.125rem;
    text-align: center;
    padding: 1.25rem 0;
    border: 1px solid #d1d5da;
    border-radius: 6px;
    font-size: 16px;
}

.section-login p a {
    font-size: 16px;
    text-decoration: none;
    color: #0000ff;
}

#form-login button, .section-login a {
    transition: all 0.25s ease-in-out;
}

#form-login button:hover {
    background-color: #2c974b;
}

.section-login a:hover {
    text-decoration: underline;
    color: #0000ff;
}

.img-login {
    width: 5rem;
    padding-top: 2rem;
}

.titulo-login {
    text-align: center;
    font-size: 32px;
    color: #4f4f4f;
}

.conteudo-cursos {
    padding: 2rem 16rem;
}

.porta-mapas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.img-mapas {
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.mapas {
    padding: 2rem 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.conteudo-cursos p {
    font-size: 18px;
    text-align: justify;
    padding: 0.5rem 0rem;
}

.conteudo-cursos ul li {
    font-size: 18px;
}

.tela {
    height: calc(100vh - 16rem);
}

.conteudo-textos {
    /* height: calc(100vh - 10rem); */
    /* height: 30rem; */
    padding: 3rem 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

hr {
    margin: 0rem 10rem;
    color: #4f4f4f;
}

.conteudo-textos h2 {
    text-align: center;
}

.conteudo-textos h3 {
    padding: 1rem 0;
}

.conteudo-textos p {
    font-size: 18px;
    text-align: justify;
    /* padding: 1rem 0rem; */
}

.conteudo-textos button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #465243;
    color: #b0b0b0;
    height: 2rem;
    width: auto;
    padding: 1.2rem;
    font-size: 16px;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
}

.conteudo-textos button:hover {
    background-color: #b0b0b0;
    color: #465243;
    border: 1px solid #465243;
}

.conteudo-textos a {
    text-decoration: none !important;
    padding-top: 2rem;
}

#textos {
    font-size: 18px;
    padding: 2rem 16rem;
}

.conteudo-contatos {
    height: calc(100vh - 10rem);
    padding: 2rem 6rem;
}

.contatos {
    padding: 0 !important;
    margin: 0 !important;
}

.formas-contato {
    padding-top: 1rem;
    font-size: 20px;
    color: #4f4f4f;
}

.card-contatos {
    background-color: #ffffff;
    width: 25rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: justify;
    border: 1px solid #eaecef;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 6px 0 rgba(0, 0, 0, 0.19);
}

.card-contatos p {
    padding: 0rem 1rem;
}

.card-contatos a {
    text-decoration: none !important;
}

.card-contatos button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #465243;
    color: #b0b0b0;
    height: 2rem;
    width: auto;
    padding: 1.2rem;
    font-size: 16px;
    border: 1px solid #b0b0b0;
    border-radius: 8px;
}

.ponteiro {
    cursor: pointer;
}

.card-contatos button:hover {
    background-color: #b0b0b0;
    color: #465243;
    border: 1px solid #465243;
}

#porta-cards-contatos {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding-top: 1rem; */
    /* background-color: chocolate; */
    height: calc(100vh - 25rem);
}

.conteudo-sobre {
    /* height: 100vh; */
    padding: 2rem 16rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    font-size: 18px;
}

.conteudo-sobre a {
    color: cornflowerblue;
    text-decoration: none;
}

.conteudo-sobre a:hover {
    color: blue;
    text-decoration: underline;
}